body{
    padding: 0;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
}
h2, p{
    text-align: center;
    padding: 10px;
    font-family: 'Outfit', sans-serif;
}

.intern-body { 
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    border-radius: 10px;
 }
.container{
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.container img{
    border-radius: 10px;
    margin: 15px;
}
.container p{
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 15px;
}
.container h2{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }